<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
      <title>Choix d'une affaire</title>
      <link rel="stylesheet" href="../css/menu.css">
      <link rel="stylesheet" href="../css/style.css">
    </head>

    <header>
        <nav>
            <ul id="menu">
                <li><a href="/incarcerer">Incarcérer un prisonnier</a></li>
                <li><a href="/deciderCondamnation">Condamnation</a></li>
                <li><a href="/deciderReductionPeine">Reduction de peine</a></li>
                <li><a href="/deciderLiberationDefinitive">Liberté définitive</a></li>
                <li><a href="/preventive">Prisonniers en préventive</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <form action="" method="post">
            <% for(var i=0; i<affaires.length; i++){ %>
                <div>
                    <label for= <%= affaires[i].n_affaire %> > <%= affaires[i].n_affaire %> dans <%= affaires[i].nom_juridiction %></label>
                    <input type="radio" name="n_affaire" value=<%= affaires[i].n_affaire %> id=<%= affaires[i].n_affaire %> />
                </div>
            <% } %>
            <div>
                <label for="-1"> Nouvelle affaire </label>
                <input type="radio" name="n_affaire" value="-1" id="-1" />
            </div>
            <div>
                <input type="submit" value="Envoyer" />
            </div>
        </form>
    </body>
</html>
