<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
      <title>Choix d'une affaire</title>
      <link rel="stylesheet" href="../css/menu.css">
      <link rel="stylesheet" href="../css/style.css">
    </head>
    <header>
        <nav>
            <ul id="menu">
                <li><a href="/incarcerer">Incarcérer un prisonnier</a></li>
                <li><a href="/deciderCondamnation">Condamnation</a></li>
                <li><a href="/deciderReductionPeine">Reduction de peine</a></li>
                <li><a href="/deciderLiberationDefinitive">Liberté définitive</a></li>
                <li><a href="/preventive">Prisonniers en préventive</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <form action="" method="post">

        <% for(var i=0; i<detenus.length; i++){ %>
            <label><%= detenus[i].n_ecrou %>  <%= detenus[i].prenom %>  <%= detenus[i].nom %> </label>
            <input type="radio" name="n_ecrou" value=<%= detenus[i].n_ecrou %> id=<%= detenus[i].n_ecrou %> />
          <% } %>

          <div>
            <label for="date_decision">Date de la decision:</label>
            <input type="date" id="date_decision" name="date_decision">
          </div>

          <div>
            <label for="duree">Duree de la condamnation :</label>
            <input type="number" id="duree" step="0.01" name="duree">
          </div>

          <input type="submit" value="Envoyer" />

        </form>
    </body>

</html>
