<html>
    <head>
      <title>Choix d'une affaire</title>
      <link rel="stylesheet" href="../css/menu.css">
      <link rel="stylesheet" href="../css/style.css">
    </head>
    <header>
        <nav>
            <ul id="menu">
                <li><a href="/incarcerer">Incarcérer un prisonnier</a></li>
                <li><a href="/deciderCondamnation">Condamnation</a></li>
                <li><a href="/deciderReductionPeine">Reduction de peine</a></li>
                <li><a href="/deciderLiberationDefinitive">Liberté définitive</a></li>
                <li><a href="/preventive">Prisonniers en préventive</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>Décider d'une libération définitive</h1>
        <form action="" method="post">


            <% for(var i=0; i<detenus.length ; i++){ %>
                <label for=<%= detenus[i].n_ecrou %> > <input type="radio" name="n_ecrou" value=<%= detenus[i].n_ecrou %> id=<%= detenus[i].n_ecrou %> /> <%= detenus[i].n_ecrou %>  <%= detenus[i].prenom %>  <%= detenus[i].nom %></label>
            <% } %>

            <div>
                <label for="date_decision">Date de la decision:</label>
                <input type="date" id="date_decision" name="date_decision">
            </div>

            <div>
                <label for="date_liberation">Date de la libération :</label>
                <input type="date" id="date_liberation" name="date_liberation">
            </div>

            <input type="submit" value="Envoyer" />

        </form>
    </body>

</html>
