<% for(var i=0; i<detenuPreventive.length; i++){ %>
<p><%= detenuPreventive[i].n_ecrou %>  <%= detenuPreventive[i].prenom %>  <%= detenuPreventive[i].nom %> <%= detenuPreventive[i].date_naissance %>  <%= detenuPreventive[i].lieu_naissance %></p>
<% } %>
